[submodule "tester/external/libmem"]
	path = tester/external/libmem
	url = https://github.com/aeturnus/libmem
[submodule "tester/external/libbtn"]
	path = tester/external/libbtn
	url = https://github.com/aeturnus/libbtn
